@import '../../../assets/sass/colors.scss';

.loading-page {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: $black;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;

    h1 {
        font-size: 3rem;
        background: linear-gradient(to right, $accent1, $accent2);
        -webkit-background-clip: text;
        background-clip: text;
        color:transparent;
    }
}