@import '../../../assets/sass/colors.scss';
@import '../../../assets/sass/breakpoints.scss';

header {
    height: 6rem;
    display: flex;
    justify-content: center;
    background: $black;
    position: sticky;
    top: 0;
    z-index: 99;

    .content {
        width: 100%;
        max-width: 60rem;
        padding: 0 1rem;
        display: flex;
        justify-content: space-between;
        gap: 1rem;
        align-items: center;

        .button-container {
            width: 12rem;

            .button {
                background: none;
                border: solid 1px $accent1;
            }
        }
    }
}

@media (min-width: $lg) {
    header .content {
        padding: 0 2rem;
    }
}

@media (min-width: $xxl) {
    header .content {
        max-width: 90rem;
    }
}
