@import '../../../../assets/sass/colors.scss';
@import '../../../../assets/sass/breakpoints.scss';

.projectViewer-section {
    padding-top: 0;
}

.project-viewer {
    background: $blackRelief;
    border: solid 1px rgba($white, .05);
    border-radius: .5rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;

    .image-legend-container {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        .image-container {
            width: 100%;
            display: inline-block;
            overflow: hidden;
            position: relative;
    
            .img {
                display: block;
                position: relative;
                width: 100%;
                object-fit: cover;
            }
        }

        .legend-container {
            height: 12rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            text-align: center;

            .legend-title {
                font-size: clamp(1.25rem, 4vw, 1.5rem);
            }

            .legend-text {
                opacity: .75;
            }
        }
    }
}

@media (min-width: $lg) {

    .project-viewer {
        padding: 2rem 2rem 3rem 2rem;
    
        .image-legend-container {
            display: grid;
            grid-template-columns: 1.5fr 1fr;
    
            .legend-container {
                height: unset;
            }
        }
    }
}