@import '../../../../assets/sass/colors.scss';

.project-viewer {
    background: $blackRelief;
    border: solid 1px rgba($white, .05);
    border-radius: .5rem;
    padding: 2rem 2rem 3rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;

    .image-legend-container {
        display: grid;
        grid-template-columns: 1.5fr 1fr;
        gap: 2rem;

        .image-container {
            width: 100%;
            display: inline-block;
            overflow: hidden;
            position: relative;
    
            .img {
                display: block;
                position: relative;
                width: 100%;
                object-fit: cover;
            }
        }

        .legend-container {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}