@import '../../assets/sass/colors.scss';
@import '../../assets/sass/breakpoints.scss';

.scrolled {
  background: $black;
}
header {
  height: 6rem;
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 99;
  transition: background 0.3s ease-in-out;

  .content {
    width: 100%;
    max-width: 75rem;
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;

    .navigation-container {
      display: none;
    }
  }
}

@media (min-width: $lg) {
  header .content {
    padding: 0 2rem;

    .navigation-container {
      display: flex;
      align-items: center;
      gap: 4rem;

      .button-container {
        display: block;
        width: 12rem;

        .button {
          background: transparent;
          border: solid 2px $accent1;

          &:hover {
            background: $white;
            border-color: transparent;
            color: $accent1;
          }
        }
      }
    }
  }
}

@media (min-width: $xxl) {
  header .content {
    max-width: 90rem;
  }
}
