@import '../../assets/sass/colors.scss';

.siteName-logo-container {
  display: flex;
  align-items: center;
  gap: .5rem;
  cursor: pointer;

  &:hover {
    animation: upDown 1.2s infinite;
  }

  .logo-container {
    height: 2rem;
    width: auto;

    .logo {
      height: 100%;
      width: auto;
      object-fit: cover;
    }
  }

  .site-name {
    color: $white;

    span {
      font-weight: 400;
    }
  }
}

// animation au hover
@keyframes upDown {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-5px);
    }
    100% {
      transform: translateY(0px);
    } 
}