@import '../../../assets/sass/colors.scss';
@import '../../../assets/sass/breakpoints.scss';

.project-navigator {
    padding-top: 0;
}

.projectItems-container {
    display: flex;
    flex-direction: column;

    .projectItem-container {
        width: 100%;
        display: flex;
        flex-direction: column;

        .project-item {
            font-size: .75rem;
            color: $accent2;
        }

        .project-title {
            cursor: pointer;

            &:hover {
                color: $accent2;
            }
        }
    }

    .prev {
        align-items: start;
    }

    .next {
        align-items: end;
    }
}

@media (min-width: $sm) {

    .projectItems-container {
        flex-direction: row;
    }
}

