@import '../../../assets/sass/colors.scss';
@import '../../../assets/sass/breakpoints.scss';

.hero-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
    border-radius: .5rem;
}

@media (min-width: $lg) {

    .hero-card {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 4rem 2rem;
        gap: 4rem;
    }
}