@import '../../../assets/sass/colors.scss';

.hero-section {
    display: flex;
    align-items: center;
    background: $customLinearGradient;
    border-radius: 0 0 4rem 4rem;
    margin-bottom: 1rem;
    margin-top: -6rem;
    padding-top: 6rem;
    min-height: 90dvh;
}