@import '../../../assets/sass/colors.scss';

.project-section {
    .content .projectCards-container {
        display: flex;
        //justify-content: space-between;
        align-items: center;
        gap: 2.5rem;
        overflow-x: auto;
        overflow-y: hidden;
        padding-bottom: 1rem;
    }
}

.projectCards-container::-webkit-scrollbar {
    height: .5rem;              
} 
.projectCards-container::-webkit-scrollbar-track {
    background: transparent;              
} 
.projectCards-container::-webkit-scrollbar-thumb {
    background: rgba($accent1, .25);
    border-radius: 1rem;
    border: none;
}