@import '../../assets/sass/breakpoints.scss';

.page .content section .article-cards-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}

@media (min-width: $smInter) {

  .page .content section .article-cards-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: $lgInter) {

  .page .content section .article-cards-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
