$white: #f3f3f3;
$black: #121b22;
$blackRelief: #1a2932;
$accent1: #008080;
$accent2: #03b9b9;

$darkWhite: #f7f7f7;
$whiteBorder: rgba($white, 0.125);

$customLinearGradient: linear-gradient(
    -45deg,
    rgba(25, 47, 50, 0.6) 29.89%,
    rgba(15, 79, 98, 0.6) 71.78%,
    rgba(82, 150, 135, 0.6) 108.97%
  ),
  $black;
