@import './colors.scss';

.dynamic-section {
  .content .dynamic-cards-container {
    display: flex;
    align-items: center;
    gap: 2.5rem;
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: 1rem;
  }
}

.dynamic-cards-container::-webkit-scrollbar {
  height: 0.5rem;
}
.dynamic-cards-container::-webkit-scrollbar-track {
  background: transparent;
}
.dynamic-cards-container::-webkit-scrollbar-thumb {
  background: rgba($accent1, 0.25);
  border-radius: 1rem;
  border: none;
}