@import './breakpoints.scss';

section {
  padding: 2rem 0;
  width: 100%;
  display: flex;
  justify-content: center;

  .content {
    width: 100%;
    max-width: 75rem;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }
}

@media (min-width: $lg) {
  section {
    padding: 4rem 0;

    .content {
      padding: 0 2rem;
    }
  }
}

@media (min-width: $xxl) {
  section {
    padding: 6rem 0;

    .content {
      max-width: 90rem;
    }
  }
}
